.whiteBody {
	width: 80%; background-color: white; margin: auto; text-align: center;
}
.blackBody {
	width: 80%; background-color: black; margin: auto; text-align: center;
}
.bodyContent {
	margin-left: 32px; margin-right: 32px;
}

.divider {
    width: 80%;
    margin: auto;
    padding: 10px;
}
.menu {
    width: 15%;
    float: left;
}
.content {
    margin-left: 15%;
}

.footer {
	
}