{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}


{% block jumbotron %}

    <div class="jumbotron" style="color:#f60">
    </div>
{% endblock %}




{% block body %}




    {% if pageType == 'Coolblue' %}
        <p>Dit is ProcessoreStore</p>
        <div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    Selecteer welk Component
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CPU</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Motherboard</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Graphicscard</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Case</a></li>
		  </ul>
		</div>
        






    {% elif pageType == 'Informatique' %}
        <p>Dit is Informatique</p>

    {% elif pageType == 'Alternate' %}
        <p>Dit is Alternate</p>
    {% else %}
        <p>If you are seeing this message, something probably gone REALLY REALLY BAD! go back to index</p>
    {% endif %}
    
			
			    
			<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Snow depth at Vikjafjellet, Norway'
        },
        subtitle: {
            text: 'Irregular time data in Highcharts JS'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Snow depth (m)'
            },
            min: 0
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
        },

        series: [{
            name: 'Winter 2007-2008',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: {{ data }}
        }]
    });
});
					</script>
					
		<div id="container" style="height: 400px;"></div>


    

    
{% endblock %}
