<td>
    <table border="0">
        <tr>
            <td style="width:300px">Type:</td>
            <td>{{ getNodeProperty(node, 'Geheugentype') }}</td>
        </tr>
        <tr>
            <td>Aantal:</td>
            <td>{{ getNodeProperty(node, 'Aantal') }}</td>
        </tr>
        <tr>
            <td>Geheugen CAS Latency:</td>
            <td>{{ getNodeProperty(node, 'GeheugenCASLatency') }}</td>
        </tr>
        <tr>
            <td>Artikelnummer:</td>
            <td>{{ getNodeProperty(node, 'ModelID') }}</td>
        </tr>
    </table>
</td>