<td>
    <table border="0">
        <tr>
            <td style="width:200px">Naam:</td>
            <td>{{ getNodeProperty(node, 'product') }}</td>
        </tr>
        <tr>
            <td>Opslagcapactiteit:</td>
            <td>{{ getNodeProperty(node, 'Opslagcapactiteit') }}</td>
        </tr>
        <tr>
            <td>Merk:</td>
            <td>{{ getNodeProperty(node, 'brand') }}</td>
        </tr>
        <tr>
            <td>Artikelnummer:</td>
            <td>{{ getNodeProperty(node, 'ModelID') }}</td>
        </tr>
    </table>
</td>