<td>
    <table border="0">
        <tr>
            <td style="width:200px">Opslagcapaciteit:</td>
            <td>{{ getNodeProperty(node, 'Opslagcapaciteit') }}</td>
        </tr>
        <tr>
            <td>Artikelnummer:</td>
            <td>{{ getNodeProperty(node, 'ModelID') }}</td>
        </tr>
    </table>
</td>